html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 66%, rgba(0,212,255,1) 100%);
    height: 150px;
    margin-bottom: 5%;
}
.cabecalho h2{
    width: 38%;
    color: aliceblue;
    margin-right: 10%;
    margin-left: 2%;
}
.cabecalho nav{
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cabecalho a{
    color: aliceblue;
    text-decoration: none;
    font-size: 17px;
    padding: 0 2%;
}
.cabecalho a:hover{
    text-decoration: underline;
}
.cabecalho img{
    margin: 2%;
}
.rodape{
    text-align: center;
    height: 150px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 66%, rgba(0,212,255,1) 100%);
}
.rodape p{
    color: aliceblue;
    padding-top: 70px;
    font-size: 20px;
}

.card{
    width: 45%;
    margin: 5% auto;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 4px 4px 12px #aaa;
    transition: 0.5s;
    background-color: #e3f9fe;
}

.card p{
    text-align: center;
    padding: 20px;
    color: #272323aa;
    font-size: 17px;
}
.card img{
    width: 100%;
    margin-bottom: 1%;
}

.card h3{
    text-align: center;
    text-decoration: underline;
}

.card:hover{
    width: 45.5%;
}