html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 66%, rgba(0,212,255,1) 100%);
    height: 150px;
    margin-bottom: 5%;
}
.cabecalho h2{
    width: 38%;
    color: aliceblue;
    margin-right: 8%;
    margin-left: 2%;
}
.cabecalho nav{
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cabecalho a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    padding: 0 5%;
}
.cabecalho img{
    margin: 2%;
}
.rodape{
    text-align: center;
    height: 150px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 66%, rgba(0,212,255,1) 100%);

}
.rodape p{
    color: aliceblue;
    padding-top: 70px;
    font-size: 20px;
}

main p {
    font-size: larger;
}

.card {
    background-color: #e3f9fe;
    width: 50%;
    height: 80%;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    margin-left: 25%;
    padding: 10px;
    text-align: center;
    transition: 0.5s;
}
    


.card h1 {
    font-size: 1.2rem;
}

.card h2 {
    font-size: .9rem;
    color: #272323aa;
}

.card img {
    height: 100%;
    width: 100%;
}

.card:hover {
    width: 51%;
    height: 80%;
}


